@import '~antd/dist/antd.css';

.product-info {
  height: 300px;
  padding:20px

}

.product-info  .product-name {
  font-size: 27px;
  color:black;
  margin-bottom : 5px;
}
.product-info .product-code {
  color: black;

}
.product-info .product-in-stock {
  margin-bottom : 10px;
  font-size: 15px
}
.product-info .product-price {
  font-size: 3rem;
  color:rgb(39, 100, 156);
  margin-bottom : 3px;
}

.product-info hr {
  color: black;
  text-align: center;
  width:40%;
  margin: 20px 20px 10px 20px
}

